<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>more_Info</title>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

	<!-- mypage에 필요한 함수 모음-->
	<script type="text/javascript">


		function get_session(){
			email = "{{sessionemail2}}"
        // html_logout = '<a class="nav-link" id="btn_logout" onclick="btn_logout()">로그아웃</a>'
        temp_html = '<svg class="bi bi-person-circle" width="2em" height="2em" style="padding-right: 5px;" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\
        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>\
        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>\
        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>\
        <div style="padding:4px">안녕하세요 ' + '<a href="http://electronic-moongchi.tistory.com">' + email + '</a>님!</div>\
        <a class="nav-link" id="btn_logout" onclick="btn_logout()">로그아웃</a>\
        </svg>';
        recevie_email = "{{sessionemail2}}"

        // $('#right_nav').append(html_logout);
        $('#right_nav').append(temp_html);

        $('#comment_movies_select').html('');
        $('#like_movies_select').html('');
        $('#dislike_movies_select').html('');
    }

    /* Logout 기능 구현 */
    $(document).ready(function(){
    	get_session()
    });

    // function get_session(){
    //     html_logout = '<a class="nav-link" href="#" id="btn_logout" onclick="btn_logout()">로그아웃</a>'
    //     $('#').append(html_logout)
    //     email_head("{{sessionemail}}")
    // }


    function btn_logout(){
    	jbResult = confirm( "정말 로그아웃을 하시겠습니까?" );
    	if(jbResult == true){
    		$.ajax({
    			type: "POST",
    			url: "/",
    			data: {},
    			success: function(response){
    			}
    		})
    		$('#btn_logout').remove();  
    	}
    	else{
    	}
    }
//-----------------이미지 검색용---------------//
function search_movie_info(num){
	let search_movie_data = $('#movie_content_title' +num ).text();
	console.log(search_movie_data)
	go_page5(search_movie_data)
}


//-------------검색용-------------//
function search_listing(){
	let search_data = $('#movie_input').val();
	if( search_data != ""){
		alert(search_data+'에 대한 정보입니다.');
		go_page5(search_data)
    //url_get(search_data)
}
else{
	alert('검색어를 입력해주세요.');
}
}

//페이지 5 쿼리스트링 수정하면, page5 뒤에 추가
function go_page5(data){
	location.href="/page5?movie_title="+data
}


//-------------검색용-------------//
</script>

<!-- ajax -->
<script type="text/javascript">

	$(document).ready(function(){
		bring_comment_movie_list()
	});


	let my_comment_movie

	function bring_comment_movie_list(){
		$.ajax({
			type: "GET",
			url: "/info_my_comment_movie",
			data: {email:recevie_email},
			success: function(response){
				my_comment_movie = response['my_comment_movie']
				console.log(my_comment_movie)
				$('#comment_movies_select').append(my_comment_movie);

				if (response['result'] == 'success') {
					my_comment_movie = response['my_comment_movie'];
					console.log(my_comment_movie)

					for (let i = 0; i < my_comment_movie.length; i++) {
						let num = i
						movie_comment_content(num, my_comment_movie[i]['user_comment_movie_poster'],my_comment_movie[i]['user_comment'], my_comment_movie[i]['user_comment_movie_title'])
					}
				} else {
					alert('영화 리스트를 받아오지 못했습니다');
				}
			}
		})
	}

</script>


<!-- html 뿌려주는 -->
<script type="text/javascript">
	function movie_comment_content(num, poster, user_comment, title){
		let temp_html = '<li class="movie_ifno_container">\
		<div class="img_and_title">\
		<div class="movie_still_cut_containFer">\
		<div class="movie_img_wrapper">\
		<a href="javascript:void(0);">\
		<div class="movie_img_poster_first">\
		<img class="content_img" src=" '+ poster +'">\
		<div id="overlay_cnt'+num+'" onclick="search_movie_info('+num+')" class="overlay">\
		<div  class="comment_in_img">'+user_comment+'</div>\
		</div>\
		</div>\
		</a>\
		</div>\
		</div>\
		<div class="movie_title_wrapper">\
		<h5 id="movie_content_title'+num+'" class="movie_title">'+ title +'</h5>\
		</div>\
		</div>\
		</li>';
		$('#comment_movies_select').append(temp_html);
	}

</script>

<!-- uniq값을 이용하여 poster값을 전달하기 -->


<!-- btn 기능 함수 -->
<script type="text/javascript">
	function btn_main_page(){
		location.href="/temp"
	}

	function btn_my_page() {
		location.href="/mypage"
	}
	function go_page2(){
		location.href="/page2"
	}

	function btn_home(){
		location.href="/temp"
	}

	function btn_search_info() {
		location.href = "/page5"
	}

</script>

</head>

<body>
	<div id="root">
		<div class="self">
			<nav class="top_sidebar" id="menubar">
				<a class="ART_cinema_logo" src="">
					<img src="/static/logo.png" style="width:70px; height:50px; cursor: pointer;" onclick="btn_home()">
				</a>
				<ul class="left_nav">
					<li>
						<input class="keyword" id="movie_input" type="text" name="movie_info_give" maxlength=255 value="" autocomplete="off" placeholder="제목, 감독, 배우를 입력해주세요."  size="80"  onKeypress="javascript:if(event.keyCode==13) {search_listing()}">
						<button onclick="search_listing()">확인</button>
					</li>
				</ul>
				<ul class="right_nav">

				</ul>
			</nav>
			<main class="mypage_main">
				<div class="mypage_main_container">
					<section class="mypage_list_section">
						<ul class="row_list">
							<li class="unit_row">
								<h3 class="row_title" style="margin-bottom: 50px;">댓글 달았어요</h3>
								<section class="row_section" style="height:98%;">
									<li class="fixed_row">
										<div class="slide_row">
											<div class="movie_list_row" style="">
											<ul class="movie_list_row_set" style="transform:translate3d(0, 0, 0)" id="comment_movies_select">
											</ul>
										</div>
									</li>
								</section>
							</li>
						</ul>
					</section>
				</div> 
			</main>
		</div>
	</div>
</body>
<style type="text/css">

	html, body {
		font-weight: 400;
		color: white;
		height: 100%;
		background: rgb(20, 21, 23);
		padding: 0px;
		margin: 0px;
	}

	ul {
		list-style-type: none;
		margin-block-end: 0px;
		margin-block-start: 0px;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 0px;
		padding: 0px;
		margin: 0px;  
	}

	.mypage_main_container {
    height: 98%; 
	}


	#root {
		width: 100%;
		height: 100%;
	}

	.self {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 72px 0px 0px;
	}

	.top_sidebar {
		position: fixed;
		top: 0px;
		z-index: 500;
		font-size: 14px;
		letter-spacing: -0.4px;
		width: 100%;
		height: 72px;
		background-color: rgb(3, 7, 8);
		padding: 0px 4%;
	}

	.ART_cinema_logo {
		position: relative;
		z-index: 10001;
		float: left;
		background-size: 173px 26px;
		width: 173px;
		height: 72px;
	}


	/* nav */

	.left_nav {
		float: center;
		padding-left: 33px;
	}

	.right_nav {
		display: flex;
		position: relative;
		right: -11px;
		float: right;
	}



	/* main - div*/

	.mypage_main {
		flex: 1;
		background: #141517;
	}

	.mypage_main_container {
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
	}

	.header {
		margin-top: 3.2vw;
		padding: 0px 4%;
	}

	.header_title {
		color: rgb(255, 255, 255);
		font-size: 3vw;
		letter-spacing: -0.03125vw;
		line-height: 2.03125vw;
	}

	/* main - section */
	/*.mypage_list_section {
		position: relative;
		background-color: rgb(20, 21, 23);
		overflow-x: visible;
	}*/

	.row_list {
		padding-top: 1.01562vw;
		padding-bottom: 2.34375vw;
	}

	.unit_row {
		margin-bottom: 0.546875vw;
	}

	.row_title {
		color: #FFFFFF;
		font-size: 2vw;
		-webkit-letter-spacing: -0.03125vw;
		letter-spacing: -0.03125vw;
		line-height: 2.03125vw;
		padding: 0 4%;
		margin-bottom: 0.703125vw;
		font-family: sans-serif;
	}

	/*.row_section {
		position: relative;
		white-space: nowrap;
		padding-right: 4%;
		padding-left: 4%;
		overflow-x: visible;
	}*/

	.fixed_row {
		margin-bottom: 0vw;
	}

	.slide_row {
		position: relative;
	}


	.movie_list_row {
		/* slide-bar 제어*/

		/*position: relative;
		white-space: nowrap;
		padding-right: 4%;
		padding-left: 4%;
		overflow-x: visible;*/
	}

	.movie_list_row_set {
		margin-right: -0.15625vw;
		margin-left: -0.15625vw;
	}

	.movie_ifno_container {
		padding-left: 0;
		display: inline-block;
	}

	.img_and_title {
		width: 200px;
		height: auto;
		z-index: 1;
		padding: 0.15625vw;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 1.5625vw;
		-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.5,0,0.1,1) 0s;
		-webkit-transition: transform 0.4s cubic-bezier(0.5,0,0.1,1) 0s;
		transition: transform 0.4s cubic-bezier(0.5,0,0.1,1) 0s;
	}




	/* 이미지만*/
	.movie_still_cut_container {
		position: relative;
	}

	.movie_img_wrapper {
		position: relative;
		z-index: 3;
	}

	.movie_img_poster {
		position: relative;
		overflow: hidden;
		background-color: #0f1112;
		width: 100%;
		padding: 28.125% 0;position: relative;
		overflow: hidden;
		background-color: #0f1112;
		width: 100%;
		padding: 0;
		margin: 15pt;

	}

	.content_img {
		text-align:center;
		display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
		align-items:center; /* 위아래 기준 중앙정렬 */
		justify-content:center; /* 좌우 기준 중앙정렬 */
		display: block;
		width: 200px;
		height: auto;
	}

	.movie_img_poster_first {
		position: relative;
		overflow: hidden;
		background-color: #0f1112;
		width: 100%;
		padding: 28.125% 0;position: relative;
		overflow: hidden;
		background-color: #0f1112;
		padding: 0;
	}


	.comment_in_img {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: white;
		font-size: 16px;
		position: absolute;
		top: 50%;
		left: 10%;
  /*-webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/
  transform: translate(0%, -50%);
  text-align: left;
}

.movie_img_poster_first:hover .overlay {
	opacity: 1;
}

.movie_img_poster_second {
	display: none;
	position: relative;
	overflow: hidden;
	background-color: #0f1112;
	width: 100%;
	padding: 28.125% 0;position: relative;
	overflow: hidden;
	background-color: #0f1112;
	width: 100%;
	padding: 0;
	margin: 15pt;

}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background: rgba(3, 3, 8, 0.7);
}

.movie_img_poster:hover img {
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);   
	-o-transform:scale(1.2);
	transform:scale(.95);
}
/*타이틀만*/

.movie_title_wrapper {
	height: 3.125vw;
	margin-top: 0.234375vw;
	opacity: 1;
	-webkit-transition: opacity 0.2s linear 0s;
	transition: opacity 0.2s linear 0s;    
}

.movie_title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	color: rgba(255,255,255,0.95);
	/*font-size: 1.46484375vw;*/
	font-size: 1vw;
	font-weight: 400;
	word-wrap: break-word;
	word-break: break-word;
	padding: 0 1.015625vw 0 0;
	opacity: 1;
	-webkit-transition: opacity 0.25s cubic-bezier(0.5,0,0.1,1) 0.2s;
	transition: opacity 0.25s cubic-bezier(0.5,0,0.1,1) 0.2s;
}

.text {

	color: white;
	font-size: 16px;
	position: absolute;
	top: 20%;
	left: 40%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: left;
}
</html>