<!DOCTYPE html>
<html>
<head>
 <title>my page</title>

 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 <!-- JS -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
 integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
 crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
 integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
 crossorigin="anonymous"></script>
 <script src="https://kit.fontawesome.com/d8aadde843.js" crossorigin="anonymous"></script>
 <script src="for_event_category.js" defer></script>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mypage_style.css')}}">
</head>

<!-- mypage에 필요한 함수 모음-->
<script type="text/javascript">


  /* Logout 기능 구현 */
  $(document).ready(function(){
    get_session()
    $('#comment_movies_select').html('');
    $('#like_movies_select').html('');
    $('#dislike_movies_select').html('');
  });

    // function get_session(){
    //     html_logout = '<a class="nav-link" href="#" id="btn_logout" onclick="btn_logout()">로그아웃</a>'
    //     $('#').append(html_logout)
    //     email_head("{{sessionemail}}")
    // }


    function btn_logout(){
      jbResult = confirm( "정말 로그아웃을 하시겠습니까?" );
      if(jbResult == true){
        $.ajax({
         type: "POST",
         url: "/",
         data: {},
         success: function(response){
         }
       })
        $('#btn_logout').remove();  
      }
      else{
      }
    }
//-----------------이미지 검색용---------------//
function search_movie_info(num){
  let search_movie_data = $('#movie_content_title' +num ).text();
  console.log(search_movie_data)
  go_page5(search_movie_data)
}

function search_like_movie_info_by_img(num){
  let search_like_movie_data = $('#movie_like_title' +num ).text();
  go_page5(search_like_movie_data)
}

function search_dislike_movie_info_by_img(num){
  let search_dislike_movie_data = $('#movie_dislike_title' +num ).text();
  go_page5(search_dislike_movie_data)
}

function go_page5(data){
  location.href="/page5?movie_title="+data
}


//-------------검색용-------------//
function search_listing(){
  let search_data = $('#movie_input').val();
  if( search_data != ""){
    alert(search_data+'에 대한 정보입니다.');
    go_page5(search_data)
    //url_get(search_data)
  }
  else{
    alert('검색어를 입력해주세요.');
  }
}

//페이지 5 쿼리스트링 수정하면, page5 뒤에 추가
function go_page5(data){
  location.href="/page5?movie_title="+data
}


//-------------검색용-------------//
</script>

<!-- ajax -->
<script type="text/javascript">

  $(document).ready(function(){
    bring_like_movie_list()
    bring_dislike_movie_list()
    bring_comment_movie_list()
  });


  let my_like_movie
  let my_dislike_movie  
  let my_comment_movie


  function bring_like_movie_list(){
    $.ajax({
      type: "GET",
      url: "/info_my_like_movie",
      data: {},
      success: function(response){
        my_like_movie = response['my_like_movie']
        console.log(my_like_movie)
        $('#like_movies_select').append(my_like_movie);

        if (response['result'] == 'success') {
          my_like_movie = response['my_like_movie'];

          for (let i = 0; i < my_like_movie.length; i++) {
            let num = i;
            movie_like_content(num, my_like_movie[i]['poster'],my_like_movie[i]['title'])
          }
        } else {
          alert('영화 리스트를 받아오지 못했습니다');
        }
      }
    })
  }


  function bring_dislike_movie_list(){
    $.ajax({
      type: "GET",
      url: "/info_my_dislike_movie",
      data: {},
      success: function(response){
        my_dislike_movie = response['my_dislike_movie']
        console.log(my_dislike_movie)
        $('#dislike_movies_select').append(my_dislike_movie);

        if (response['result'] == 'success') {
          my_dislike_movie = response['my_dislike_movie'];

          for (let i = 0; i < my_dislike_movie.length; i++) {
            let num = i;
            movie_dislike_content(num, my_dislike_movie[i]['poster'],my_dislike_movie[i]['title'])
          }
        } else {
          alert('영화 리스트를 받아오지 못했습니다');
        }
      }
    })
  }


  function bring_comment_movie_list(){
    $.ajax({
      type: "GET",
      url: "/info_my_comment_movie",
      data: {},
      success: function(response){
        my_comment_movie = response['my_comment_movie']
        console.log(my_comment_movie)
        $('#comment_movies_select').append(my_comment_movie);

        if (response['result'] == 'success') {
          my_comment_movie = response['my_comment_movie'];
          console.log(my_comment_movie)

          for (let i = 0; i < my_comment_movie.length; i++) {
            let num = i
            movie_comment_content(num, my_comment_movie[i]['user_comment_movie_poster'],my_comment_movie[i]['user_comment'], my_comment_movie[i]['user_comment_movie_title'])
          }
        } else {
          alert('영화 리스트를 받아오지 못했습니다');
        }
      }
    })
  }

  function bring_login_info(data){
    console.log(data)
    $.ajax({
      type: "POST",
      url: "/comment_save",
      data: { email :$('#customer_email').text(),user_comment_movie_title : title ,user_comment_movie_poster: poster ,user_comment_give : comment},
      success: function(response){
        let email_receive = response
        console.log(email_receive)
      }
    })
  }

</script>


<!-- html 뿌려주는 -->
<script type="text/javascript">
  function movie_comment_content(num, poster, user_comment, title){
    let temp_html = '<li class="movie_ifno_container">\
    <div class="img_and_title">\
    <div class="movie_still_cut_containFer">\
    <div class="movie_img_wrapper">\
    <a href="javascript:void(0);">\
    <div class="movie_img_poster_first">\
    <img class="content_img" src=" '+ poster +'">\
    <div id="overlay_cnt'+num+'" onclick="search_movie_info('+num+')" class="overlay">\
    <div  class="comment_in_img">'+user_comment+'</div>\
    </div>\
    </div>\
    </a>\
    </div>\
    </div>\
    <div class="movie_title_wrapper">\
    <h5 id="movie_content_title'+num+'" class="movie_title">'+ title +'</h5>\
    </div>\
    </div>\
    </li>';
    $('#comment_movies_select').append(temp_html);
  }


  function movie_like_content(num, poster, title){
    console.log(poster)
    let temp_html = '<li class="movie_ifno_container">\
    <div class="img_and_title">\
    <div class="movie_still_cut_container">\
    <div class="movie_img_wrapper">\
    <a href="javascript:void(0);">\
    <div class="movie_img_poster_first">\
    <img onclick="search_like_movie_info_by_img('+num+')" class="content_img" src=" '+ poster +'">\
    </div>\
    </a>\
    </div>\
    </div>\
    <div class="movie_title_wrapper">\
    <h5 id="movie_like_title'+num+'" class="movie_title">'+ title +'</h5>\
    </div>\
    </div>\
    </li>';
    $('#like_movies_select').append(temp_html);


  }

  function movie_dislike_content(num, poster, title){
    let temp_html = '<li class="movie_ifno_container">\
    <div class="img_and_title">\
    <div class="movie_still_cut_container">\
    <div class="movie_img_wrapper">\
    <a href="javascript:void(0);">\
    <div class="movie_img_poster_first">\
    <img onclick="search_dislike_movie_info_by_img('+num+')" class="content_img" src=" '+ poster +'">\
    </div>\
    </a>\
    </div>\
    </div>\
    <div class="movie_title_wrapper">\
    <h5 id="movie_dislike_title'+num+'" class="movie_dislike_title">'+ title +'</h5>\
    </div>\
    </div>\
    </li>';
    $('#dislike_movies_select').append(temp_html);
  }

  function email_head(email){
   let temp_html = email;
   $('#customer_email').append(temp_html);
 }  




 function get_session(){
  non_login = '<a class="nav-link" href="#" id="btn_home" onclick="btn_home()">로그인을 해야 사용가능합니다.</a>'
  html_logout = '<a class="nav-link" href="#" id="btn_logout" onclick="btn_logout()"><i class="fas fa-sign-out-alt"></i></a>'
  console.log("{{sessionemail}}")
  if("{{sessionemail}}" == ""){
    $('#email_check').append(non_login)
  }else{
    $('#email_check').append(html_logout)
    email_head("{{sessionemail}}")
  }

}
</script>


<!-- btn 기능 함수 -->
<script type="text/javascript">
  function btn_main_page(){
    location.href="/temp"
  }

  function btn_my_page() {
    location.href="/mypage"
  }
  function go_page2(){
    location.href="/page2"
  }

  function btn_home(){
    location.href="/temp"
  }

  function btn_search_info() {
    location.href = "/page5"
  }

</script>


<body>
  <nav class="navbar" id="menubar">
    <a class="ART_cinema_logo" src="/temp">
      <img src="/static/logo.png" style="width:70px; height:50px; cursor: pointer;" onclick="btn_home()">
    </a>

    <ul class="navbar__menu">
      <li>
        <input class="keyword" id="movie_input" type="text" name="movie_info_give" maxlength=255 value="" autocomplete="off" placeholder="제목, 감독, 배우를 입력해주세요."  size="80"  onKeypress="javascript:if(event.keyCode==13) {search_listing()}">
      </li>
      <li>
        <button onclick="search_listing()"><i class="fas fa-search"></i></button>
      </li>
    </ul>

    <ul class="navbar__icons">
      <li><a href="#" id= "customer_email" onclick="btn_mypage()"></a></li>
      <li><a href="#" id="email_check"></a></li>
    </ul>


    <a href="#" class="navbar__toggleBtn">
      <i class="fas fa-bars"></i>
    </a>
    <a href="#" class="navbar__categoryBtn">
      <i class="fas fa-bars">
        <details>
          <summary></summary>
            <p>좋아요 누른 영화</p>
            <p>댓글 단 영화</p>
</details>
      </i>
    </a>
  </nav>
<!-- <main class="mypage_main">
  <div class="mypage_main_container">
    <section class="mypage_list_section">
      <ul class="row_list">
        <li class="unit_row">
          <h3 class="row_title">댓글 달았어요</h3>
          <section class="row_section">
            <li class="fixed_row">
              <div class="slide_row">
                <div class="movie_list_row" style="">
                  <ul class="movie_list_row_set" style="transform:translate3d(0, 0, 0)" id="comment_movies_select">
                  </ul>
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
            </li>
          </section>
        </li>
        <li class="unit_row">
          <h3 class="row_title">좋아요</h3>
          <section class="row_section">
              <li class="fixed_row">
                <div class="slide_row">
                  <div class="movie_list_row">
                    <ul class="movie_list_row_set" style="transform:translate3d(0, 0, 0)" id="like_movies_select">
                    </ul>
                  </div>
                </div>
              </li>
          </section>
        </li>
        <li class="unit_row">
          <h3 class="row_title">싫어요</h3>
          <section class="row_section">
              <li class="fixed_row">
                <div class="slide_row">
                  <div class="movie_list_row">
                    <ul class="movie_list_row_set" style="transform:translate3d(0, 0, 0)" id="dislike_movies_select">
                    </ul>
                  </div>
                </div>
              </li>
          </section>
        </li>
      </ul>
    </section>
  </div> 
</main> -->
</body>


</html>